VS8/Computation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:g99.webservice.generated="http://localhost:8080/services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Computation" targetNamespace="http://localhost:8080/services">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:8080/services">
      <xsd:element name="Computation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="op" type="xsd:string" />
          	<xsd:element name="operand1" type="xsd:double"></xsd:element>
          	<xsd:element name="operand2" type="xsd:double"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ComputationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ComputationRequest">
    <wsdl:part element="tns:Computation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ComputationResponse">
    <wsdl:part element="tns:ComputationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Computation">
    <wsdl:operation name="Computation">
      <wsdl:input message="tns:Computation"/>
      <wsdl:output message="tns:ComputationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ComputationSOAP" type="tns:Computation">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Computation">
      <soap:operation soapAction="http://localhost:8080/services/Computation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Computation">
    <wsdl:port binding="tns:ComputationSOAP" name="ComputationSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
